@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F6F1EE;
}

@keyframes roll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes roll-reverse {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0%);
    }
}

.animate-roll {
    animation: roll 30s linear infinite;
}

.animate-roll-reverse {
    animation: roll-reverse 30s linear infinite;
}